# Start

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
purchase_data = pd.read_excel("./Analyst_dataset.xlsx", sheet_name='Purchase Exit Survey Data')
airings_data = pd.read_excel("./Analyst_dataset.xlsx", sheet_name='Airings')
lookup_data = pd.read_excel("./Analyst_dataset.xlsx", sheet_name='Lookup', skiprows=1)

# Preprocessing

In [3]:
lookup_data.shape

(44, 3)

In [4]:
lookup_data = lookup_data.dropna(how='all')

In [5]:
lookup_data.shape

(43, 3)

In [6]:
lookup_data['Exit Survey'] = lookup_data['Exit Survey'].str.lower()
lookup_data['Airings'] = lookup_data['Airings'].str.upper()

In [7]:
airings_data['Network'] = airings_data['Network'].str.upper()

# Transposing Purchase Exit Survey Data - Converting dates from columns to rows in Purchase Exit Survey Data

In [8]:
current_year = purchase_data.iloc[0,:].dropna()
current_year = int(current_year)
current_year

2017

In [9]:
months = []
for month in purchase_data.iloc[2,2:].dropna():
    months.append(month)
months

['September', 'October']

In [10]:
# current_month = months[0]
# i = 0
# for count, day in enumerate(day_nums, start=1):
#     if str(day) > str(purchase_data.iloc[3, 2+count]):
#         i += 1
#         current_month = month[i]
#         current_date = str(current_year) + '-' + current_month + '-' + str(day)
#         print(current_date)
#         #print(count)
#     else:
#         current_date = str(current_year) + '-' + current_month + '-' + str(day)
#         print(current_date)
#         #print(count)

day_nums = np.array(purchase_data.iloc[3,2:], dtype=int)

parsed_dates = []
current_month = months[0]
i = 0
for count, today in enumerate(day_nums, start=1):
    try:
        tomorrow = day_nums[count]
    except:
        pass
        # current_date = str(current_year) + '-' + current_month + '-' + str(today)
        # current_date = datetime.strptime(current_date, '%Y-%B-%d').date()
        # parsed_dates.append(current_date)
        #print(type(current_date))
    if today > tomorrow:
        current_date = str(current_year) + '-' + current_month + '-' + str(today)
        current_date = datetime.strptime(current_date, '%Y-%B-%d').date()
        i += 1
        current_month = months[i]
        parsed_dates.append(current_date)
        #print(current_date)
        #print(count)
    else:
        current_date = str(current_year) + '-' + current_month + '-' + str(today)
        current_date = datetime.strptime(current_date, '%Y-%B-%d').date()
        #print(current_date)
        parsed_dates.append(current_date)
        #print(count)

In [11]:
purchase_data.iloc[3,2:] = parsed_dates

In [12]:
purchase_data_transpose = purchase_data.iloc[3:,:].transpose()
#new_df.head()

In [13]:
purchase_data_transpose.index = purchase_data_transpose.iloc[:, 0]

In [14]:
purchase_data_transpose = purchase_data_transpose.iloc[1:]

In [15]:
purchase_data_transpose = purchase_data_transpose.drop(labels=3, axis=1)

In [16]:
purchase_data_transpose.columns = purchase_data_transpose.iloc[0]

In [17]:
purchase_data_transpose = purchase_data_transpose.drop(labels='Source')

In [18]:
purchase_data_transpose.index = pd.to_datetime(purchase_data_transpose.index)

In [19]:
purchase_data_transpose.rename_axis('date', inplace=True)
#purchase_data_transpose

In [20]:
purchase_data_transpose.shape

(56, 30)

# Overall metrics by Network

## Sum of Purchases by Network

In [21]:
sum_of_purchases = purchase_data_transpose.sum(axis=0)
sum_of_purchases = sum_of_purchases.to_frame()
sum_of_purchases = sum_of_purchases.rename(columns={0:'Purchases'})
sum_of_purchases.index = sum_of_purchases.index.str.lower()

In [22]:
sum_of_purchases.shape

(30, 1)

## Joining Purchases to Lookup Data

In [23]:
lookup_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 43
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exit Survey    43 non-null     object
 1   Airings        38 non-null     object
 2   Exit Survey.1  43 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [24]:
overall_tbl = lookup_data.merge(right=sum_of_purchases, left_on='Exit Survey', right_on='Source', how='left')
overall_tbl.drop(labels='Exit Survey.1', axis=1, inplace=True)
#overall_tbl.rename(columns={0:'Purchases'}, inplace=True)
overall_tbl.set_index('Exit Survey', inplace=True)
overall_tbl.shape

(43, 2)

## Spend and Lift by Network

In [25]:
airings_spend_and_lift = airings_data.groupby('Network')[['Spend', 'Lift']].agg('sum')
airings_spend_and_lift.shape

(19, 2)

## Joining Purchases/Lookup to Spend and Lift

In [26]:
overall_tbl = overall_tbl.merge(right=airings_spend_and_lift,left_on='Airings', right_index=True, how='left')
overall_tbl.shape

(43, 4)

## Computing Metrics by Network

In [27]:
overall_tbl['Conversion Rate'] = overall_tbl['Purchases'] / overall_tbl['Lift'] * 100
overall_tbl['Cost Per Acquisition'] = overall_tbl['Spend'] / overall_tbl['Purchases']
overall_tbl['Cost Per Visitor'] = overall_tbl['Spend'] / overall_tbl['Lift']
overall_tbl['Percent of Purchases'] = overall_tbl['Purchases'] / sum(overall_tbl['Purchases'].fillna(0)) * 100
overall_tbl['Percent of Spend'] = overall_tbl['Spend'] / sum(overall_tbl['Spend'].fillna(0)) * 100
overall_tbl['Percent Pur > Percent Spend'] = overall_tbl['Percent of Purchases'] > overall_tbl['Percent of Spend']
overall_tbl

,Airings,Purchases,Spend,Lift,Conversion Rate,Cost Per Acquisition,Cost Per Visitor,Percent of Purchases,Percent of Spend,Percent Pur > Percent Spend
Exit Survey,,,,,,,,,,
(blank),NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.271186,NaN,False
aapka_colors,NaN,6.0,NaN,NaN,NaN,NaN,NaN,2.542373,NaN,False
baby_first,BABY,1.0,NaN,NaN,NaN,NaN,NaN,0.423729,NaN,False
bloomberg,BLOM,2.0,4966.72,199.0,1.005025,2483.36,24.958392,0.847458,2.242951,False
cbs_sports,CBSS,1.0,NaN,NaN,NaN,NaN,NaN,0.423729,NaN,False
cnbc,CNBC,15.0,6481.42,406.0,3.694581,432.094667,15.964089,6.355932,2.926984,True
cnn,CNN,23.0,18114.35,1081.0,2.12766,787.580435,16.757031,9.745763,8.180369,True
comedy_central,COM,2.0,7501.25,108.0,1.851852,3750.625,69.456019,0.847458,3.387535,False
cozi,COZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
dateline,DATELINE,10.0,15288.11,862.0,1.160093,1528.811,17.735626,4.237288,6.904050,False
dish_network,DISH,5.0,3033.33,1092.0,0.457875,606.666,2.777775,2.118644,1.369840,True
diy,NaN,2.0,NaN,NaN,NaN,NaN,NaN,0.847458,NaN,False
espn,ENN,4.0,NaN,NaN,NaN,NaN,NaN,1.694915,NaN,False
fox_news,FNEW,14.0,NaN,NaN,NaN,NaN,NaN,5.932203,NaN,False
fox_sports,FS1,2.0,4258.50,183.0,1.092896,2129.25,23.270492,0.847458,1.923122,False
fyi,FYI,2.0,NaN,NaN,NaN,NaN,NaN,0.847458,NaN,False
hgtv,HGTV,6.0,NaN,NaN,NaN,NaN,NaN,2.542373,NaN,False
lifetime_movie_network,LMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
msnbc,MSNB,16.0,11330.04,1123.0,1.424755,708.1275,10.089083,6.779661,5.116601,True
nfl_network,NFLN,3.0,5412.80,200.0,1.5,1804.266667,27.064000,1.271186,2.444399,False
one_america_news_network,OANN,16.0,24935.00,2372.0,0.674536,1558.4375,10.512226,6.779661,11.260547,False
oprah_winfrey_network,OWN,1.0,NaN,NaN,NaN,NaN,NaN,0.423729,NaN,False
other,NaN,13.0,NaN,NaN,NaN,NaN,NaN,5.508475,NaN,False
science,SCI,4.0,7993.18,132.0,3.030303,1998.295,60.554394,1.694915,3.609688,False
sony_entertainment_tv,NaN,4.0,NaN,NaN,NaN,NaN,NaN,1.694915,NaN,False
spectrum_sports,SPECSPTS,3.0,5580.26,220.0,1.363636,1860.086667,25.364818,1.271186,2.520023,False
spike,SPK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
star_plus,STARPLUS,4.0,11780.56,1783.0,0.224341,2945.14,6.607156,1.694915,5.320054,False
sundance_channel,SUND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
television_food_network,FOOD,4.0,NaN,NaN,NaN,NaN,NaN,1.694915,NaN,False
the_cooking_channel,COOK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
the_history_channel,HIST,5.0,7278.30,330.0,1.515152,1455.66,22.055455,2.118644,3.286851,False
the_weather_channel,TWC,NaN,7718.71,211.0,NaN,NaN,36.581564,NaN,3.485739,False
turner_network_tv,TNT,4.0,5125.50,179.0,2.234637,1281.375,28.634078,1.694915,2.314656,False
willow_tv,WILO,56.0,47734.57,8214.0,0.681763,852.403036,5.811367,23.728814,21.556743,True
zeetv,ZEETV,5.0,25604.25,1741.0,0.287191,5120.85,14.706634,2.118644,11.562778,False
velocity,VEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
investigation discovery,ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
viceland,VICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
destination america,DEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
golf,GOLF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
tennis,TENN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
cnbc world,CNBCWORLD,NaN,1299.99,51.0,NaN,NaN,25.490000,NaN,0.587070,False

In [28]:
overall_tbl.shape

(43, 10)

## Done

# Grouped Metrics by Network and Month

## Purchase Data by Network and Month

In [29]:
purchase_data_by_month = purchase_data_transpose.groupby(pd.Grouper(freq='M')).agg('sum')
purchase_data_by_month

Source,(blank),aapka_colors,baby_first,bloomberg,cbs_sports,cnbc,cnn,comedy_central,dateline,dish_network,...,other,science,sony_entertainment_tv,spectrum_sports,star_plus,television_food_network,the_history_channel,turner_network_tv,willow_tv,zeetv
date,,,,,,,,,,,,,,,,,,,,,
2017-09-30,0.0,1.0,1.0,1.0,1.0,5.0,13.0,0.0,0.0,4.0,...,5.0,1.0,2.0,2.0,2.0,4.0,4.0,2.0,27.0,2.0
2017-10-31,3.0,5.0,0.0,1.0,0.0,10.0,10.0,2.0,10.0,1.0,...,8.0,3.0,2.0,1.0,2.0,0.0,1.0,2.0,29.0,3.0

In [30]:
purchase_data_by_month = purchase_data_by_month.transpose()
purchase_data_by_month = purchase_data_by_month.stack().to_frame()
purchase_data_by_month.rename(columns={0:'Purchases'}, inplace=True)
purchase_data_by_month = purchase_data_by_month.reset_index()
purchase_data_by_month['Source'] = purchase_data_by_month['Source'].str.lower()
purchase_data_by_month

                      Source       date  Purchases
0                    (blank) 2017-09-30        0.0
1                    (blank) 2017-10-31        3.0
2               aapka_colors 2017-09-30        1.0
3               aapka_colors 2017-10-31        5.0
4                 baby_first 2017-09-30        1.0
5                 baby_first 2017-10-31        0.0
6                  bloomberg 2017-09-30        1.0
7                  bloomberg 2017-10-31        1.0
8                 cbs_sports 2017-09-30        1.0
9                 cbs_sports 2017-10-31        0.0
10                      cnbc 2017-09-30        5.0
11                      cnbc 2017-10-31       10.0
12                       cnn 2017-09-30       13.0
13                       cnn 2017-10-31       10.0
14            comedy_central 2017-09-30        0.0
15            comedy_central 2017-10-31        2.0
16                  dateline 2017-09-30        0.0
17                  dateline 2017-10-31       10.0
18              dish_network 2017-09-30        4.0
19              dish_network 2017-10-31        1.0
20                       diy 2017-09-30        2.0
21                       diy 2017-10-31        0.0
22                      espn 2017-09-30        0.0
23                      espn 2017-10-31        4.0
24                  fox_news 2017-09-30        5.0
25                  fox_news 2017-10-31        9.0
26                fox_sports 2017-09-30        1.0
27                fox_sports 2017-10-31        1.0
28                       fyi 2017-09-30        0.0
29                       fyi 2017-10-31        2.0
30                      hgtv 2017-09-30        6.0
31                      hgtv 2017-10-31        0.0
32                     msnbc 2017-09-30       10.0
33                     msnbc 2017-10-31        6.0
34               nfl_network 2017-09-30        2.0
35               nfl_network 2017-10-31        1.0
36  one_america_news_network 2017-09-30        2.0
37  one_america_news_network 2017-10-31       14.0
38     oprah_winfrey_network 2017-09-30        0.0
39     oprah_winfrey_network 2017-10-31        1.0
40                     other 2017-09-30        5.0
41                     other 2017-10-31        8.0
42                   science 2017-09-30        1.0
43                   science 2017-10-31        3.0
44     sony_entertainment_tv 2017-09-30        2.0
45     sony_entertainment_tv 2017-10-31        2.0
46           spectrum_sports 2017-09-30        2.0
47           spectrum_sports 2017-10-31        1.0
48                 star_plus 2017-09-30        2.0
49                 star_plus 2017-10-31        2.0
50   television_food_network 2017-09-30        4.0
51   television_food_network 2017-10-31        0.0
52       the_history_channel 2017-09-30        4.0
53       the_history_channel 2017-10-31        1.0
54         turner_network_tv 2017-09-30        2.0
55         turner_network_tv 2017-10-31        2.0
56                 willow_tv 2017-09-30       27.0
57                 willow_tv 2017-10-31       29.0
58                     zeetv 2017-09-30        2.0
59                     zeetv 2017-10-31        3.0

In [31]:
purchase_data_by_month.shape

(60, 3)

## Airings Sheet

In [32]:
airings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6443 entries, 0 to 6442
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       6443 non-null   object
 1   Date/Time ET  6443 non-null   datetime64[ns]
 2   Rotation      6443 non-null   object
 3   Creative      6443 non-null   object
 4   Network       6443 non-null   object
 5   Spend         6443 non-null   float64
 6   Lift          6443 non-null   int64
 7   Program       5729 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 402.8+ KB

In [33]:
# airings_data.groupby([pd.Grouper(key='Date/Time ET', freq='M'), 'Network'])[['Spend', 'Lift']].agg('sum')

## Preparing Lookup Data for Join

In [34]:
lookup_data = lookup_data.drop('Exit Survey.1', axis=1)
# lookup_data = lookup_data.set_index('Exit Survey')
# lookup_data = lookup_data.rename_axis('Source')
lookup_data

                 Exit Survey    Airings
0                    (blank)        NaN
1               aapka_colors        NaN
2                 baby_first       BABY
3                  bloomberg       BLOM
4                 cbs_sports       CBSS
5                       cnbc       CNBC
6                        cnn        CNN
7             comedy_central        COM
8                       cozi       COZI
9                   dateline   DATELINE
10              dish_network       DISH
11                       diy        NaN
12                      espn        ENN
13                  fox_news       FNEW
14                fox_sports        FS1
15                       fyi        FYI
16                      hgtv       HGTV
17    lifetime_movie_network        LMN
18                     msnbc       MSNB
19               nfl_network       NFLN
21  one_america_news_network       OANN
22     oprah_winfrey_network        OWN
23                     other        NaN
24                   science        SCI
25     sony_entertainment_tv        NaN
26           spectrum_sports   SPECSPTS
27                     spike        SPK
28                 star_plus   STARPLUS
29          sundance_channel       SUND
30   television_food_network       FOOD
31       the_cooking_channel       COOK
32       the_history_channel       HIST
33       the_weather_channel        TWC
34         turner_network_tv        TNT
35                 willow_tv       WILO
36                     zeetv      ZEETV
37                  velocity        VEL
38   investigation discovery         ID
39                  viceland       VICE
40       destination america       DEST
41                      golf       GOLF
42                    tennis       TENN
43                cnbc world  CNBCWORLD

In [35]:
lookup_data.shape

(43, 2)

## Joining Purchases by network and month to Lookup Data

In [36]:
# joined_tbl = lookup_data[['Exit Survey', 'Airings']].merge(right=purchase_data_by_date, left_on='Exit Survey', right_on='Source', how='left')
# #joined_tbl.drop(labels='Exit Survey', axis=1, inplace=True)
# joined_tbl

In [37]:
# purchase_grouped = purchase_data_by_month.join(lookup_data, how='right')
# purchase_grouped

In [38]:
by_month_tbl = lookup_data.merge(right=purchase_data_by_month, left_on='Exit Survey', right_on='Source', how='left').set_index(['Exit Survey', 'date'])
by_month_tbl

                                  Airings        Source  Purchases
Exit Survey         date
(blank)             2017-09-30        NaN       (blank)        0.0
                    2017-10-31        NaN       (blank)        3.0
aapka_colors        2017-09-30        NaN  aapka_colors        1.0
                    2017-10-31        NaN  aapka_colors        5.0
baby_first          2017-09-30       BABY    baby_first        1.0
...                                   ...           ...        ...
viceland            NaT              VICE           NaN        NaN
destination america NaT              DEST           NaN        NaN
golf                NaT              GOLF           NaN        NaN
tennis              NaT              TENN           NaN        NaN
cnbc world          NaT         CNBCWORLD           NaN        NaN

[73 rows x 3 columns]

In [39]:
print(by_month_tbl.to_string())

                                       Airings                    Source  Purchases
Exit Survey              date
(blank)                  2017-09-30        NaN                   (blank)        0.0
                         2017-10-31        NaN                   (blank)        3.0
aapka_colors             2017-09-30        NaN              aapka_colors        1.0
                         2017-10-31        NaN              aapka_colors        5.0
baby_first               2017-09-30       BABY                baby_first        1.0
                         2017-10-31       BABY                baby_first        0.0
bloomberg                2017-09-30       BLOM                 bloomberg        1.0
                         2017-10-31       BLOM                 bloomberg        1.0
cbs_sports               2017-09-30       CBSS                cbs_sports        1.0
                         2017-10-31       CBSS                cbs_sports        0.0
cnbc                     2017-09-30       CNBC                      cnbc        5.0
                         2017-10-31       CNBC                      cnbc       10.0
cnn                      2017-09-30        CNN                       cnn       13.0
                         2017-10-31        CNN                       cnn       10.0
comedy_central           2017-09-30        COM            comedy_central        0.0
                         2017-10-31        COM            comedy_central        2.0
cozi                     NaT              COZI                       NaN        NaN
dateline                 2017-09-30   DATELINE                  dateline        0.0
                         2017-10-31   DATELINE                  dateline       10.0
dish_network             2017-09-30       DISH              dish_network        4.0
                         2017-10-31       DISH              dish_network        1.0
diy                      2017-09-30        NaN                       diy        2.0
                         2017-10-31        NaN                       diy        0.0
espn                     2017-09-30        ENN                      espn        0.0
                         2017-10-31        ENN                      espn        4.0
fox_news                 2017-09-30       FNEW                  fox_news        5.0
                         2017-10-31       FNEW                  fox_news        9.0
fox_sports               2017-09-30        FS1                fox_sports        1.0
                         2017-10-31        FS1                fox_sports        1.0
fyi                      2017-09-30        FYI                       fyi        0.0
                         2017-10-31        FYI                       fyi        2.0
hgtv                     2017-09-30       HGTV                      hgtv        6.0
                         2017-10-31       HGTV                      hgtv        0.0
lifetime_movie_network   NaT               LMN                       NaN        NaN
msnbc                    2017-09-30       MSNB                     msnbc       10.0
                         2017-10-31       MSNB                     msnbc        6.0
nfl_network              2017-09-30       NFLN               nfl_network        2.0
                         2017-10-31       NFLN               nfl_network        1.0
one_america_news_network 2017-09-30       OANN  one_america_news_network        2.0
                         2017-10-31       OANN  one_america_news_network       14.0
oprah_winfrey_network    2017-09-30        OWN     oprah_winfrey_network        0.0
                         2017-10-31        OWN     oprah_winfrey_network        1.0
other                    2017-09-30        NaN                     other        5.0
                         2017-10-31        NaN                     other        8.0
science                  2017-09-30        SCI                   science        1.0
                         2017-10-31        SCI                   science        3.0
sony_entertainment_tv    2017-09-30        NaN     sony_entertainment_tv        2.0
                         2017-10-31        NaN     sony_entertainment_tv        2.0
spectrum_sports          2017-09-30   SPECSPTS           spectrum_sports        2.0
                         2017-10-31   SPECSPTS           spectrum_sports        1.0
spike                    NaT               SPK                       NaN        NaN
star_plus                2017-09-30   STARPLUS                 star_plus        2.0
                         2017-10-31   STARPLUS                 star_plus        2.0
sundance_channel         NaT              SUND                       NaN        NaN
television_food_network  2017-09-30       FOOD   television_food_network        4.0
                         2017-10-31       FOOD   television_food_network        0.0
the_cooking_channel      NaT              COOK                       NaN        NaN
the_history_channel      2017-09-30       HIST       the_history_channel        4.0
                         2017-10-31       HIST       the_history_channel        1.0
the_weather_channel      NaT               TWC                       NaN        NaN
turner_network_tv        2017-09-30        TNT         turner_network_tv        2.0
                         2017-10-31        TNT         turner_network_tv        2.0
willow_tv                2017-09-30       WILO                 willow_tv       27.0
                         2017-10-31       WILO                 willow_tv       29.0
zeetv                    2017-09-30      ZEETV                     zeetv        2.0
                         2017-10-31      ZEETV                     zeetv        3.0
velocity                 NaT               VEL                       NaN        NaN
investigation discovery  NaT                ID                       NaN        NaN
viceland                 NaT              VICE                       NaN        NaN
destination america      NaT              DEST                       NaN        NaN
golf                     NaT              GOLF                       NaN        NaN
tennis                   NaT              TENN                       NaN        NaN
cnbc world               NaT         CNBCWORLD                       NaN        NaN

In [40]:
by_month_tbl.shape

(73, 3)

## Spend and Lift by Network and Month

In [41]:
# NEED TO drop Network as an index and make a column, join with purchase_grouped and keep the 
airings_spend_lift_grouped = airings_data.groupby(['Network', pd.Grouper(key='Date/Time ET', freq='M')])[['Spend', 'Lift']].agg('sum')
airings_spend_lift_grouped

                           Spend  Lift
Network   Date/Time ET
BLOM      2017-09-30     4966.72   199
CNBC      2017-09-30     6481.42   406
CNBCWORLD 2017-10-31     1299.99    51
CNN       2017-09-30     9159.60   507
          2017-10-31     8954.75   574
COM       2017-10-31     7501.25   108
DATELINE  2017-09-30     4211.62   252
          2017-10-31    11076.49   610
DISH      2017-09-30     2513.09   976
          2017-10-31      520.24   116
FS1       2017-09-30     4258.50   183
HIST      2017-09-30     5778.30   253
          2017-10-31     1500.00    77
MSNB      2017-09-30     8091.15   701
          2017-10-31     3238.89   422
NFLN      2017-09-30     5412.80   200
OANN      2017-09-30     4966.80   648
          2017-10-31    19968.20  1724
SCI       2017-09-30     7993.18   132
SPECSPTS  2017-09-30     5580.26   220
STARPLUS  2017-09-30     3441.58   562
          2017-10-31     8338.98  1221
TNT       2017-09-30     5125.50   179
TWC       2017-10-31     7718.71   211
WILO      2017-09-30    19773.49  3138
          2017-10-31    27961.08  5076
ZEETV     2017-09-30    10175.13   922
          2017-10-31    15429.12   819

In [42]:
# airings_spend_lift_grouped.reset_index()

In [43]:
by_month_tbl.reset_index().head()

    Exit Survey       date Airings        Source  Purchases
0       (blank) 2017-09-30     NaN       (blank)        0.0
1       (blank) 2017-10-31     NaN       (blank)        3.0
2  aapka_colors 2017-09-30     NaN  aapka_colors        1.0
3  aapka_colors 2017-10-31     NaN  aapka_colors        5.0
4    baby_first 2017-09-30    BABY    baby_first        1.0

In [44]:
# purchase_grouped.reset_index()

In [45]:
airings_spend_lift_grouped.reset_index().head()

     Network Date/Time ET    Spend  Lift
0       BLOM   2017-09-30  4966.72   199
1       CNBC   2017-09-30  6481.42   406
2  CNBCWORLD   2017-10-31  1299.99    51
3        CNN   2017-09-30  9159.60   507
4        CNN   2017-10-31  8954.75   574

## Joining Purchases/Lookup to Spend and Lift by Network and Month

In [49]:
# month_and_network_grouped = purchase_grouped.reset_index().merge(right=airings_spend_lift_grouped.reset_index(), left_on=['Airings', 'date'], right_on=['Network', 'Date/Time ET'], how='left')
# month_and_network_grouped

new_tbl = by_month_tbl.reset_index().merge(right=airings_spend_lift_grouped.reset_index(), left_on=['Airings', 'date'], right_on=['Network', 'Date/Time ET'], how='left')
new_tbl.head()

,Exit Survey,date,Airings,Source,Purchases,Network,Date/Time ET,Spend,Lift
0,(blank),2017-09-30,NaN,(blank),0.0,NaN,NaT,NaN,NaN
1,(blank),2017-10-31,NaN,(blank),3.0,NaN,NaT,NaN,NaN
2,aapka_colors,2017-09-30,NaN,aapka_colors,1.0,NaN,NaT,NaN,NaN
3,aapka_colors,2017-10-31,NaN,aapka_colors,5.0,NaN,NaT,NaN,NaN
4,baby_first,2017-09-30,BABY,baby_first,1.0,NaN,NaT,NaN,NaN

In [50]:
new_tbl.shape

(73, 9)

In [51]:
# month_and_network_grouped= month_and_network_grouped.set_index(['Source', 'date']).drop(labels=['Airings', 'Network', 'Date/Time ET'], axis=1)
# month_and_network_grouped

new_tbl = new_tbl.set_index(['Exit Survey', 'date']).drop(labels=['Airings', 'Network', 'Date/Time ET', 'Source'], axis=1)
new_tbl

                                Purchases  Spend  Lift
Exit Survey         date
(blank)             2017-09-30        0.0    NaN   NaN
                    2017-10-31        3.0    NaN   NaN
aapka_colors        2017-09-30        1.0    NaN   NaN
                    2017-10-31        5.0    NaN   NaN
baby_first          2017-09-30        1.0    NaN   NaN
...                                   ...    ...   ...
viceland            NaT               NaN    NaN   NaN
destination america NaT               NaN    NaN   NaN
golf                NaT               NaN    NaN   NaN
tennis              NaT               NaN    NaN   NaN
cnbc world          NaT               NaN    NaN   NaN

[73 rows x 3 columns]

In [52]:
new_tbl.shape

(73, 3)

In [53]:
print(new_tbl.to_string())

                                     Purchases     Spend    Lift
Exit Survey              date
(blank)                  2017-09-30        0.0       NaN     NaN
                         2017-10-31        3.0       NaN     NaN
aapka_colors             2017-09-30        1.0       NaN     NaN
                         2017-10-31        5.0       NaN     NaN
baby_first               2017-09-30        1.0       NaN     NaN
                         2017-10-31        0.0       NaN     NaN
bloomberg                2017-09-30        1.0   4966.72   199.0
                         2017-10-31        1.0       NaN     NaN
cbs_sports               2017-09-30        1.0       NaN     NaN
                         2017-10-31        0.0       NaN     NaN
cnbc                     2017-09-30        5.0   6481.42   406.0
                         2017-10-31       10.0       NaN     NaN
cnn                      2017-09-30       13.0   9159.60   507.0
                         2017-10-31       10.0   8954.75   574.0
comedy_central           2017-09-30        0.0       NaN     NaN
                         2017-10-31        2.0   7501.25   108.0
cozi                     NaT               NaN       NaN     NaN
dateline                 2017-09-30        0.0   4211.62   252.0
                         2017-10-31       10.0  11076.49   610.0
dish_network             2017-09-30        4.0   2513.09   976.0
                         2017-10-31        1.0    520.24   116.0
diy                      2017-09-30        2.0       NaN     NaN
                         2017-10-31        0.0       NaN     NaN
espn                     2017-09-30        0.0       NaN     NaN
                         2017-10-31        4.0       NaN     NaN
fox_news                 2017-09-30        5.0       NaN     NaN
                         2017-10-31        9.0       NaN     NaN
fox_sports               2017-09-30        1.0   4258.50   183.0
                         2017-10-31        1.0       NaN     NaN
fyi                      2017-09-30        0.0       NaN     NaN
                         2017-10-31        2.0       NaN     NaN
hgtv                     2017-09-30        6.0       NaN     NaN
                         2017-10-31        0.0       NaN     NaN
lifetime_movie_network   NaT               NaN       NaN     NaN
msnbc                    2017-09-30       10.0   8091.15   701.0
                         2017-10-31        6.0   3238.89   422.0
nfl_network              2017-09-30        2.0   5412.80   200.0
                         2017-10-31        1.0       NaN     NaN
one_america_news_network 2017-09-30        2.0   4966.80   648.0
                         2017-10-31       14.0  19968.20  1724.0
oprah_winfrey_network    2017-09-30        0.0       NaN     NaN
                         2017-10-31        1.0       NaN     NaN
other                    2017-09-30        5.0       NaN     NaN
                         2017-10-31        8.0       NaN     NaN
science                  2017-09-30        1.0   7993.18   132.0
                         2017-10-31        3.0       NaN     NaN
sony_entertainment_tv    2017-09-30        2.0       NaN     NaN
                         2017-10-31        2.0       NaN     NaN
spectrum_sports          2017-09-30        2.0   5580.26   220.0
                         2017-10-31        1.0       NaN     NaN
spike                    NaT               NaN       NaN     NaN
star_plus                2017-09-30        2.0   3441.58   562.0
                         2017-10-31        2.0   8338.98  1221.0
sundance_channel         NaT               NaN       NaN     NaN
television_food_network  2017-09-30        4.0       NaN     NaN
                         2017-10-31        0.0       NaN     NaN
the_cooking_channel      NaT               NaN       NaN     NaN
the_history_channel      2017-09-30        4.0   5778.30   253.0
                         2017-10-31        1.0   1500.00    77.0
the_weather_channel      NaT               NaN       NaN     NaN
turner_network_tv        2017-09-30        2.0   5125.50   179.0
                         2017-10-31        2.0       NaN     NaN
willow_tv                2017-09-30       27.0  19773.49  3138.0
                         2017-10-31       29.0  27961.08  5076.0
zeetv                    2017-09-30        2.0  10175.13   922.0
                         2017-10-31        3.0  15429.12   819.0
velocity                 NaT               NaN       NaN     NaN
investigation discovery  NaT               NaN       NaN     NaN
viceland                 NaT               NaN       NaN     NaN
destination america      NaT               NaN       NaN     NaN
golf                     NaT               NaN       NaN     NaN
tennis                   NaT               NaN       NaN     NaN
cnbc world               NaT               NaN       NaN     NaN

In [54]:
new_tbl['Conversion Rate'] = new_tbl['Purchases'] / new_tbl['Lift'] * 100
new_tbl['Cost Per Acquisition'] = new_tbl['Spend'] / new_tbl['Purchases']
new_tbl['Cost Per Visitor'] = new_tbl['Spend'] / new_tbl['Lift']
new_tbl['Percent of Purchases'] = new_tbl['Purchases'] / sum(new_tbl['Purchases'].fillna(0)) * 100
new_tbl['Percent of Spend'] = new_tbl['Spend'] / sum(new_tbl['Spend'].fillna(0)) * 100
new_tbl['Percent Pur > Percent Spend'] = new_tbl['Percent of Purchases'] > new_tbl['Percent of Spend']
new_tbl

                                Purchases  Spend  Lift  Conversion Rate  \
Exit Survey         date
(blank)             2017-09-30        0.0    NaN   NaN              NaN
                    2017-10-31        3.0    NaN   NaN              NaN
aapka_colors        2017-09-30        1.0    NaN   NaN              NaN
                    2017-10-31        5.0    NaN   NaN              NaN
baby_first          2017-09-30        1.0    NaN   NaN              NaN
...                                   ...    ...   ...              ...
viceland            NaT               NaN    NaN   NaN              NaN
destination america NaT               NaN    NaN   NaN              NaN
golf                NaT               NaN    NaN   NaN              NaN
tennis              NaT               NaN    NaN   NaN              NaN
cnbc world          NaT               NaN    NaN   NaN              NaN

                                Cost Per Acquisition  Cost Per Visitor  \
Exit Survey         date
(blank)             2017-09-30                   NaN               NaN
                    2017-10-31                   NaN               NaN
aapka_colors        2017-09-30                   NaN               NaN
                    2017-10-31                   NaN               NaN
baby_first          2017-09-30                   NaN               NaN
...                                              ...               ...
viceland            NaT                          NaN               NaN
destination america NaT                          NaN               NaN
golf                NaT                          NaN               NaN
tennis              NaT                          NaN               NaN
cnbc world          NaT                          NaN               NaN

                                Percent of Purchases  Percent of Spend  \
Exit Survey         date
(blank)             2017-09-30              0.000000               NaN
                    2017-10-31              1.271186               NaN
aapka_colors        2017-09-30              0.423729               NaN
                    2017-10-31              2.118644               NaN
baby_first          2017-09-30              0.423729               NaN
...                                              ...               ...
viceland            NaT                          NaN               NaN
destination america NaT                          NaN               NaN
golf                NaT                          NaN               NaN
tennis              NaT                          NaN               NaN
cnbc world          NaT                          NaN               NaN

                                Percent Pur > Percent Spend
Exit Survey         date
(blank)             2017-09-30                        False
                    2017-10-31                        False
aapka_colors        2017-09-30                        False
                    2017-10-31                        False
baby_first          2017-09-30                        False
...                                                     ...
viceland            NaT                               False
destination america NaT                               False
golf                NaT                               False
tennis              NaT                               False
cnbc world          NaT                               False

[73 rows x 9 columns]

In [55]:
print(new_tbl.to_string())

                                     Purchases     Spend    Lift  Conversion Rate  Cost Per Acquisition  Cost Per Visitor  Percent of Purchases  Percent of Spend  Percent Pur > Percent Spend
Exit Survey              date
(blank)                  2017-09-30        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
                         2017-10-31        3.0       NaN     NaN              NaN                   NaN               NaN              1.271186               NaN                        False
aapka_colors             2017-09-30        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
                         2017-10-31        5.0       NaN     NaN              NaN                   NaN               NaN              2.118644               NaN                        False
baby_first               2017-09-30        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
                         2017-10-31        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
bloomberg                2017-09-30        1.0   4966.72   199.0         0.502513           4966.720000         24.958392              0.423729          2.338181                        False
                         2017-10-31        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
cbs_sports               2017-09-30        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
                         2017-10-31        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
cnbc                     2017-09-30        5.0   6481.42   406.0         1.231527           1296.284000         15.964089              2.118644          3.051255                        False
                         2017-10-31       10.0       NaN     NaN              NaN                   NaN               NaN              4.237288               NaN                        False
cnn                      2017-09-30       13.0   9159.60   507.0         2.564103            704.584615         18.066272              5.508475          4.312061                         True
                         2017-10-31       10.0   8954.75   574.0         1.742160            895.475000         15.600610              4.237288          4.215624                         True
comedy_central           2017-09-30        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
                         2017-10-31        2.0   7501.25   108.0         1.851852           3750.625000         69.456019              0.847458          3.531360                        False
cozi                     NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
dateline                 2017-09-30        0.0   4211.62   252.0         0.000000                   inf         16.712778              0.000000          1.982703                        False
                         2017-10-31       10.0  11076.49   610.0         1.639344           1107.649000         18.158180              4.237288          5.214475                        False
dish_network             2017-09-30        4.0   2513.09   976.0         0.409836            628.272500          2.574887              1.694915          1.183086                         True
                         2017-10-31        1.0    520.24   116.0         0.862069            520.240000          4.484828              0.423729          0.244913                         True
diy                      2017-09-30        2.0       NaN     NaN              NaN                   NaN               NaN              0.847458               NaN                        False
                         2017-10-31        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
espn                     2017-09-30        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
                         2017-10-31        4.0       NaN     NaN              NaN                   NaN               NaN              1.694915               NaN                        False
fox_news                 2017-09-30        5.0       NaN     NaN              NaN                   NaN               NaN              2.118644               NaN                        False
                         2017-10-31        9.0       NaN     NaN              NaN                   NaN               NaN              3.813559               NaN                        False
fox_sports               2017-09-30        1.0   4258.50   183.0         0.546448           4258.500000         23.270492              0.423729          2.004772                        False
                         2017-10-31        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
fyi                      2017-09-30        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
                         2017-10-31        2.0       NaN     NaN              NaN                   NaN               NaN              0.847458               NaN                        False
hgtv                     2017-09-30        6.0       NaN     NaN              NaN                   NaN               NaN              2.542373               NaN                        False
                         2017-10-31        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
lifetime_movie_network   NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
msnbc                    2017-09-30       10.0   8091.15   701.0         1.426534            809.115000         11.542297              4.237288          3.809067                         True
                         2017-10-31        6.0   3238.89   422.0         1.421801            539.815000          7.675095              2.542373          1.524771                         True
nfl_network              2017-09-30        2.0   5412.80   200.0         1.000000           2706.400000         27.064000              0.847458          2.548182                        False
                         2017-10-31        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
one_america_news_network 2017-09-30        2.0   4966.80   648.0         0.308642           2483.400000          7.664815              0.847458          2.338218                        False
                         2017-10-31       14.0  19968.20  1724.0         0.812065           1426.300000         11.582483              5.932203          9.400421                        False
oprah_winfrey_network    2017-09-30        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
                         2017-10-31        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
other                    2017-09-30        5.0       NaN     NaN              NaN                   NaN               NaN              2.118644               NaN                        False
                         2017-10-31        8.0       NaN     NaN              NaN                   NaN               NaN              3.389831               NaN                        False
science                  2017-09-30        1.0   7993.18   132.0         0.757576           7993.180000         60.554394              0.423729          3.762946                        False
                         2017-10-31        3.0       NaN     NaN              NaN                   NaN               NaN              1.271186               NaN                        False
sony_entertainment_tv    2017-09-30        2.0       NaN     NaN              NaN                   NaN               NaN              0.847458               NaN                        False
                         2017-10-31        2.0       NaN     NaN              NaN                   NaN               NaN              0.847458               NaN                        False
spectrum_sports          2017-09-30        2.0   5580.26   220.0         0.909091           2790.130000         25.364818              0.847458          2.627017                        False
                         2017-10-31        1.0       NaN     NaN              NaN                   NaN               NaN              0.423729               NaN                        False
spike                    NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
star_plus                2017-09-30        2.0   3441.58   562.0         0.355872           1720.790000          6.123808              0.847458          1.620191                        False
                         2017-10-31        2.0   8338.98  1221.0         0.163800           4169.490000          6.829631              0.847458          3.925738                        False
sundance_channel         NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
television_food_network  2017-09-30        4.0       NaN     NaN              NaN                   NaN               NaN              1.694915               NaN                        False
                         2017-10-31        0.0       NaN     NaN              NaN                   NaN               NaN              0.000000               NaN                        False
the_cooking_channel      NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
the_history_channel      2017-09-30        4.0   5778.30   253.0         1.581028           1444.575000         22.839130              1.694915          2.720248                        False
                         2017-10-31        1.0   1500.00    77.0         1.298701           1500.000000         19.480519              0.423729          0.706154                        False
the_weather_channel      NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
turner_network_tv        2017-09-30        2.0   5125.50   179.0         1.117318           2562.750000         28.634078              0.847458          2.412930                        False
                         2017-10-31        2.0       NaN     NaN              NaN                   NaN               NaN              0.847458               NaN                        False
willow_tv                2017-09-30       27.0  19773.49  3138.0         0.860421            732.351481          6.301303             11.440678          9.308758                         True
                         2017-10-31       29.0  27961.08  5076.0         0.571316            964.175172          5.508487             12.288136         13.163226                        False
zeetv                    2017-09-30        2.0  10175.13   922.0         0.216920           5087.565000         11.035933              0.847458          4.790142                        False
                         2017-10-31        3.0  15429.12   819.0         0.366300           5143.040000         18.838974              1.271186          7.263560                        False
velocity                 NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
investigation discovery  NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
viceland                 NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
destination america      NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
golf                     NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
tennis                   NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False
cnbc world               NaT               NaN       NaN     NaN              NaN                   NaN               NaN                   NaN               NaN                        False

## Done

In [ ]:
airings_data.query('Network == "FOOD"')

# What networks have purchases but no spend?

In [ ]:
airings_data.query('Spend == 0')['Network'].value_counts()

In [ ]:
airings_data.groupby('Network')[['Spend', 'Lift']].agg('sum')